$white:        #ffffff;
$gray-light-4: #fafafa; // body bg, content box default
$gray-light-3: #f4f4f4;
$gray-light-2: #eeeeee;
$gray-light-1: #e2e2e2;
$gray:         #bfbfbf;
$gray-dark-4:  #666666;
$gray-dark-5:  #444444;
$gray-dark-6:  #222222;
$black:        #000000;

$red-light-4:  #f4cfd3;
$red-light-3:  #eaa6ad;
$red:          #9f2532;
$red-dark-1:   #841e29;
$red-dark-2:   #6b1921;

$blue-gray:    #73a4d1;
$blue-secondary: #EBF3FA;

$blue-light-7: #f2f8ff;
$blue-light-6: #e3f1fe;
$blue-light-5: #c1e0fd;
$blue-light-2: #0b76d7;
$blue-light-1: #085ca7;
$blue:         #064176;
$blue-dark-3:  #042645;

$orange-light-4: #ffe6cc;
$orange:         #ff8000;

$yellow:        #FFC100;

$pale:          #fdf1e9;
$pale-dark-1:   #f9d3ba;
$pale-dark-4:   darken(#f9d3ba, 45);

$green-light-6: #f4fbf3;
$green-light-5: #d8f1d4;
$green:         #388a32;
$green-dark-2:  #296524;

$lime:          #BBDC00;

$gutter-xs: 0.2rem;
$gutter-sm: 0.6rem;
$gutter: 1rem;
$gutter-md: 1.2rem;
$gutter-lg: 1.6rem;
$gutter-xl: 2rem;
